#Android generated
bin
gen

#Eclipse
.classpath
.settings

#IntelliJ IDEA
out
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

#Maven
target
release.properties
pom.xml.*

#Ant
local.properties
proguard.cfg

#OSX
.DS_Store
